@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400,400i,700i');

/* COMPONENT CSS */
@import './NavBar.css';
@import './ZineNav.css';
@import './TOC.css';
@import './ZineSubmission.css';
@import './SleepToLearn.css';

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

a, a:visited, a:active {
  text-decoration: none;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

#root, .App, .zine {
  height: 100%;
}

.zine-content {
  padding-top: 118px;
  height: 100%;
}