.landing {
  background: ghostwhite;
  display: flex;
  height: 100%;
  flex-direction: row;
}

.landing .landing-left,
.landing .landing-right {
  width: 50%;
  display: inline-flex;
}

.landing-left {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-between;
}

.landing-left h1 {
  margin: 0;
}

.landing-right {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#right-background {
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#right-background-img {
  object-fit: contain;
  filter: saturate(4);
}

#issue-section {
  width: 65%;
  min-width: 400px;
  min-height: 400px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: relative;
}

#issue-section:after {
  background: #16151f;
  opacity: 0.85;
  content: "";
  height: 0;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
}

#issue-section-details {
  max-width: 68%;
  position: absolute;
  z-index: 999;
}

#issue-section-details span {
  display: inline-block;
}

#issue-number {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 4px;
}

#issue-title {
  font-size: 2.0em;
  margin-bottom: 12px;
}

#line-divider {
  background: white;
  width: 100px;
  height: 2px;
  margin-bottom: 30px;
}

#issue-contributors {
  font-weight: 200;
  font-size: 0.875em;
}

#issue-link {
  margin-top: 80px;
  color: white;
  z-index: 999;
  background: #161616;
  opacity: 0.75;
	padding: 16px 24px;
  font-size: 12px;
  text-transform: uppercase;
}

#issue-link a, #issue-link a:visited {
  color: white;
}

#issue-link-img {
  width: 20px;
  height: 12px;
  margin-left: 10px;
}

* {
  box-sizing: border-box;
}

#landing-header {
  display: flex;
  align-items: center;
}

#landing-about {
  max-width: 70%;
}

#landing-title {
  font-size: 2.0em;
}

#landing-description {
  font-size: 1.0em;
}

#subscribe-form {
  border: 2px solid #16151f;
  margin-top: 20px;
  height: 50px;
  width: 65%;
}

#subscribe-title {
  font-size: 0.8em;
}

input[type="text"] {
  width: 70%;
  height: 100%;
  font-size: 0.875em;
  padding: 12px;
  border: none;
  font-family: "Roboto Mono", sans-serif;
}

input.form-btn {
  background: #16151f;
  color: white;
  width: 30%;
  height: 100%;
  float: right;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.8px;
}

input.form-btn:hover {
  cursor: pointer;
}
