.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.issue-card {
  border: 3px solid #2d00ff;
  background: white;
  padding: 32px;
  color: #2d00ff;
}

.issue-card:hover {
  cursor: pointer;
  background:#2d00ff;
  color: white;
}

.issue-card:hover {
  cursor: pointer;
  background:#2d00ff;
}

.issue-card:hover a {
  color: white;
}

.landing h2 {
 padding-bottom: 32px;
}

.issue-card a {
  color: #2d00ff;
}
