@media screen and (max-width:850px) {
  /* TOC */
  .zine-cover,
  .zine-toc-container {
    width: 100%
  }

  .zine-toc ul li {
    font-size: 0.9em;
    line-height: 2.2em;
  }

  .zine-content {
    padding-top: 100px;
  }

  .zine-submission {
    padding-bottom: 50px;
  }

  /* Zine Nav */
  .zine-controls {
    display: none;
  }

  .zine-nav {
    height: 50px;
    line-height: 1em;
  }

  .contributor-name {
    font-size: 0.8em;
  }
  
  .contributor-creds {
    font-size: 0.6em;
  }
 
  .zine-controls-bottom {
    display: block;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2d00ff;
    position: fixed;
  }

  .disabled {
    pointer-events: none;
  }

  .zine-controls-btn {
    border: 0;
    width: 38px;
    height: 38px;
    background: white;
  }

  .zine-controls-btn-disabled {
    background: #545eff;
  }

  .zine-controls-btn:hover {
    background: white;
  }

  a.zine-ctrl-link {
    max-height: 38px;
  }

  .zine-controls-icon {
    width: 11px;
  }

  .zine-controls-icon.icon-left {
    margin-right: 2px;
  }
  
  .zine-controls-icon.icon-right {
    margin-left: 2px;
  }
  
  .zine-controls-btn:disabled {
    cursor: default;
    background: #2d00ff;
    color: white;
    border: 0;
  }

  #nav-btn-img {
    height: 30px;
    width: 30px;
  }

  .page-indicator-label {
    color: white;
  }

  /* SplitTemplates */
  .split-template {
    display: block;
  }

  .split-template .split-left,
  .split-template .split-right {
    width: 100%;
  }

  .split-template .split-left .text,
  .split-template .split-right .text {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 80%;
  }
  
  /* FullTemplate */
  .full-template-inner {
    padding: 60px 0px;
  }

  .full-template-inner.text {
    max-width: 100%;
  }

  /* Sleep To Learn */
  #sleep-to-learn h1 {
    font-size: 26px;
  }

  #sleep-to-learn h2 {
    font-size: 18px;
  }

  #sleep-to-learn p {
    font-size: 0.8em;
  }

  #sleep-to-learn .essay {
    padding: 16px;
    margin-left: 8%;
	  margin-right: 8%;
  }
}
