@media screen and (max-width:850px) {
  /* TOC */
  .zine-cover,
  .zine-toc-container {
    width: 100%
  }

  .zine-toc ul li {
    font-size: 0.7em;
    line-height: 2.2em;
  }

  .zine-content {
    padding-top: 102px;
  }

  /* Zine Nav */
  .zine-nav {
    display: none;
  }
 
  .zine-controls-bottom {
    display: block;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2d00ff;
    position: fixed;
  }

  .disabled {
    pointer-events: none;
  }

  .zine-controls-btn {
    border: 0;
  }
  
  .zine-controls-btn:hover {
    background: #2d00ff;
    color: white;
  }

  .zine-controls-btn:disabled {
    cursor: default;
    background: #2d00ff;
    color: white;
    border: 0;
  }

  #nav-btn-img {
    height: 30px;
    width: 30px;
  }

  .page-indicator-label {
    color: white;
  }

  /* SplitTemplates */
  .split-template {
    display: block;
  }

  .split-template .split-left,
  .split-template .split-right {
    width: 100%;
  }

  .split-template .split-left .text,
  .split-template .split-right .text {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 80%;
  }
  
  /* FullTemplate */
  .full-template-inner {
    padding: 60px 0px;
  }

  .full-template-inner.text {
    max-width: 100%;
  }
}
  