.zine-toc {
  height: 100%;
}

.zine-toc ul {
  margin: 0px;
  padding-left: 0px;
}

.zine-toc ul li {
  list-style-type: none;
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
}

.zine-cover,
.zine-toc-container {
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.zine-toc-container {
  float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}

.zine-cover {
  background: black;
}