.zine-toc {
  height: 100%;
}

.zine-toc ul li {
  list-style-type: decimal-leading-zero;
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
  line-height: 2.2em;
}

.zine-toc a {
  color: black;
}

.zine-toc a:hover {
  color: blue;
  font-weight: 400;
}

.zine-cover,
.zine-toc-container {
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.zine-toc-container {
  float: right;
	display: flex;
	justify-content: center;
  align-items: center;
  padding: 40px;
}

.zine-cover {
  background: black;
}