/* TODO: Probably should split this up */
.zine-submission {
  height: 100%;
}

.zine-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* primary split template */
.split-template {
  width: 1440px;
  height: 100%;
}

.split-template .split-left,
.split-template .split-right {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.split-template .split-left {
  padding-left: 40px;
}

.split-template .split-left .text {
  max-width: 500px;
}

.split-left .text p {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

.split-template .split-right {
  padding-right: 40px;
  border: 2px solid black;
}

/* secondary */
.zine-secondary {
  border: 2px solid blue;
  height: 400px;
}

/* quote */
.zine-quote {
  padding: 90px 0px;
  width: 100%;
  height: 100px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zine-quote-inner {
  width: 70%;
  text-align: center;
}

.zine-quote-inner p {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 44px;
  font-style: italic;
  font-weight: 300;
}