/* TODO: Probably should split this up */
.zine-submission {
  min-height: 100%;
  width: 100%;
}

.zine-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SPLIT TEMPLATE */
.split-template {
  display: flex;
  justify-content: center;
}

.split-template .split-left,
.split-template .split-right {
  width: 50%;
  justify-content: center;
  display: inline-flex;
}

.split-left.img {
  padding-top: 0px;
  padding-bottom: 0px;
}

.split-template .split-left .text,
.split-template .split-right .text {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 60%;
  align-self: center;
}

.text .submission-title {
  font-size: 24px;
  font-weight: 400;
}

.text {
  font-style: italic;
  font-weight: 300;
  font-size: 0.85em;
  line-height: 24px;
  margin: 22px 0px;
}

.split-right.text-right {
  display: flex;
  justify-content: center;
}

.split-right img,
.split-left img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

/* FULL TEMPLATE */
.full-template {
  width: 85%;
  display: flex;
  justify-content: center;
}

.full-template-inner {
  padding: 60px 32px;
  width: 100%; 
}

.full-template-inner {
  max-width: 80%;
}

.full-template-text {
  font-weight: 300;
  font-style: italic;
  font-size: 0.875em;
  line-height: 22px;
}

.full-template-inner .submission-title-container {
  margin-bottom: 28px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}

/* https://blog.theodo.fr/2018/01/responsive-iframes-css-trick/ */
.video-embed-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* quote */
.zine-quote {
  padding: 48px 0px;
  width: 100%;
  /* height: 80px; */
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zine-quote-inner {
  width: 70%;
  text-align: center;
}

.zine-quote-inner p {
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.7em;
  font-style: italic;
  font-weight: 300;
}

/* secondary */